.widget-red {
  background: red;
}

body {
  overflow: hidden;
}

.widget-green {
  background: green;
}

.widget-orange {
  background: orange;
}

.widget-blue {
  background: blue;
}

.widget-yellow {
  background: yellow;
}

.widget-playground-class {
  margin: 20px;
}

.widget-playground-dashboard {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(50%);
  grid-template-rows: repeat(50%);
  grid-gap: 10px;
}

.billboard-dashboard {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 19%);
  grid-template-rows: repeat(auto-fill, 250px);
  grid-gap: 10px;
}
